<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A free alternative to the Renweb Mobile App, on the Appstore. Free and Opensourced.">
    <meta name="author" content="Parin">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    
    {% if title %}
    <title>{{ title }} - Renweb App</title>
    {% else %}
    <title> Renweb - Redesinged</title>
    {% endif %}


    {% block head %}

    {% endblock head %}
  </head>
  <body>
    {% block content %}

    {% endblock content %}
  </body>
</html>
